<input type="file" style="display: inline-block;" (change)="onFileChange($event)" placeholder="Upload file" accept=".xlsx">

<div>
    <!-- META DATA -->
    <div *ngFor="let metaData of sheets[1]?.metaData">
        <div *ngFor="let item of metaData | keyvalue">
            <strong>{{item.key}}</strong>: {{item.value}}
        </div>
        <br>
    </div>
</div>

<pre>CHART DATA: {{sheets[0]?.chartData | json}}</pre>

<apx-chart *ngIf="chartOptions" [series]="chartOptions.series!" [chart]="chartOptions.chart!" [title]="chartOptions.title!"></apx-chart>