<input #input type="file" style="display: none;" (change)="onFileChange($event)" placeholder="Upload file" accept=".xlsx">

<button (click)="input.click()" mat-button color="accent">Parcourir...</button>
<mat-tab-group>
    
    <mat-tab *ngFor="let sheet of sheets" [label]="sheet.name | titlecase">
        <ng-template matTabContent>
            <!-- META DATA -->
            <div *ngFor="let metaData of sheet?.metaData" class="d-flex" [style.padding]="'10px'">
                <div class="mr-1" *ngFor="let item of metaData | keyvalue">
                    {{item.value}} <br>
                </div>
                <br>
            </div>
              
            <apx-chart
                [series]="sheet.chartOptions.series!"
                [chart]="sheet.chartOptions.chart!"
                [title]="sheet.chartOptions.title!">
            </apx-chart>
        </ng-template>
    </mat-tab>
</mat-tab-group>